@import "tailwindcss";

*{
  scroll-behavior: smooth;
}

.diagonal-div::before{
  content: "";
  position: absolute;
  border-right: 100px solid transparent;
  border-bottom: 100vh solid #fce8f4;
}

svg path {
  fill: transparent;
  stroke: #000;
  stroke-width: 0.5;
  stroke-dasharray: 200; /* Adjust based on path length */
  stroke-dashoffset: 200;
  animation: textAnimation 1s ease-in-out forwards;
}

@keyframes textAnimation {
  0% {
    stroke-dashoffset: 200;
    fill: transparent;
  }
  70%{
    fill: transparent;
  }
  80% {
    stroke-dashoffset: 0;
    fill: #000;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #000;
  }
}

@media (width < 64rem) {
  .diagonal-div::before{
    content: "";
    position: absolute;
    border-bottom: none;
    border-top: 50px solid transparent;
    border-right: 100vw solid #fce8f4;
    bottom: 0px;
  }
}

/* For login_signup page */

/* ---------------------------------- */